NodeRed Files/flows (2).json
[{"id":"b14cd6ac.febc18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fbc703d0.aedcb","type":"http request","z":"b14cd6ac.febc18","name":"","method":"POST","ret":"txt","paytoqs":true,"url":"http://svetlana1234-37340.portmap.io:37340/","tls":"","proxy":"","authType":"","x":610,"y":440,"wires":[[]]},{"id":"53dc76ff.438628","type":"ui_button","z":"b14cd6ac.febc18","name":"","group":"e1a47c5d.23dad","order":0,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"r_on","payloadType":"str","topic":"","x":410,"y":440,"wires":[["fbc703d0.aedcb"]]},{"id":"f466a6b9.06a898","type":"ui_button","z":"b14cd6ac.febc18","name":"","group":"e1a47c5d.23dad","order":1,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"r_off","payloadType":"str","topic":"","x":410,"y":500,"wires":[["fbc703d0.aedcb"]]},{"id":"7d4c3e47.d5a19","type":"ui_button","z":"b14cd6ac.febc18","name":"","group":"e1a47c5d.23dad","order":2,"width":0,"height":0,"passthru":false,"label":"Low","tooltip":"","color":"","bgcolor":"","icon":"","payload":"r_low","payloadType":"str","topic":"","x":410,"y":560,"wires":[["fbc703d0.aedcb"]]},{"id":"698cfb7d.1d5214","type":"ui_button","z":"b14cd6ac.febc18","name":"","group":"e1a47c5d.23dad","order":2,"width":0,"height":0,"passthru":false,"label":"Medium","tooltip":"","color":"","bgcolor":"","icon":"","payload":"r_med","payloadType":"str","topic":"","x":420,"y":600,"wires":[["fbc703d0.aedcb"]]},{"id":"8b85593e.ffa798","type":"ui_button","z":"b14cd6ac.febc18","name":"","group":"e1a47c5d.23dad","order":2,"width":0,"height":0,"passthru":false,"label":"High","tooltip":"","color":"","bgcolor":"","icon":"","payload":"r_on","payloadType":"str","topic":"","x":410,"y":640,"wires":[["fbc703d0.aedcb"]]},{"id":"6cd9fcde.a90c14","type":"ui_gauge","z":"b14cd6ac.febc18","name":"","group":"87aa3462.1b06f8","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity in %","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":180,"wires":[]},{"id":"404e2d29.970b34","type":"ui_gauge","z":"b14cd6ac.febc18","name":"","group":"87aa3462.1b06f8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature in 째C","label":"째C","format":"{{value}}","min":0,"max":"50","colors":["#0c00b3","#58c7fa","#f50000"],"seg1":"","seg2":"","x":680,"y":260,"wires":[]},{"id":"bb2f195c.e356c8","type":"firebase in","z":"b14cd6ac.febc18","name":"Humidity In","ref":"/Humid","dataAtStart":true,"admin":"93c2cf74.b0223","x":370,"y":180,"wires":[["6cd9fcde.a90c14"]]},{"id":"b8fc1750.461028","type":"firebase in","z":"b14cd6ac.febc18","name":"Temperature In","ref":"/Temp","dataAtStart":true,"admin":"93c2cf74.b0223","x":380,"y":260,"wires":[["404e2d29.970b34","b10a315b.ccdba","4fc78636.a8bf38"]]},{"id":"31eda979.556fb6","type":"ui_button","z":"b14cd6ac.febc18","name":"","group":"11e7127e.169c7e","order":0,"width":0,"height":0,"passthru":false,"label":"Device 1 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"d1_on","payloadType":"str","topic":"","x":420,"y":680,"wires":[["fbc703d0.aedcb"]]},{"id":"9ca641ac.a4d4b","type":"ui_button","z":"b14cd6ac.febc18","name":"","group":"11e7127e.169c7e","order":0,"width":0,"height":0,"passthru":false,"label":"Device 1 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"d1_off","payloadType":"str","topic":"","x":430,"y":740,"wires":[["fbc703d0.aedcb"]]},{"id":"37611076.6c018","type":"ui_button","z":"b14cd6ac.febc18","name":"","group":"11e7127e.169c7e","order":0,"width":0,"height":0,"passthru":false,"label":"Device 2 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"d2_on","payloadType":"str","topic":"","x":240,"y":460,"wires":[["fbc703d0.aedcb"]]},{"id":"aec62f00.8e484","type":"ui_button","z":"b14cd6ac.febc18","name":"","group":"11e7127e.169c7e","order":0,"width":0,"height":0,"passthru":false,"label":"Device 2 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"d2_off","payloadType":"str","topic":"","x":230,"y":500,"wires":[["fbc703d0.aedcb"]]},{"id":"e2b408a8.3d5eb8","type":"ui_text","z":"b14cd6ac.febc18","group":"87aa3462.1b06f8","order":2,"width":0,"height":0,"name":"","label":"Fan Status","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":320,"wires":[]},{"id":"b10a315b.ccdba","type":"switch","z":"b14cd6ac.febc18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":320,"wires":[["c6fee922.c07048"]]},{"id":"c6fee922.c07048","type":"change","z":"b14cd6ac.febc18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":320,"wires":[["e2b408a8.3d5eb8"]]},{"id":"4fc78636.a8bf38","type":"switch","z":"b14cd6ac.febc18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":360,"wires":[["b33f9f13.9ae8a"]]},{"id":"b33f9f13.9ae8a","type":"change","z":"b14cd6ac.febc18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":360,"wires":[["e2b408a8.3d5eb8"]]},{"id":"5f234016.17f64","type":"http request","z":"b14cd6ac.febc18","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://SohamKorgaonkar-31323.portmap.io:31323","tls":"","proxy":"","authType":"","x":1490,"y":740,"wires":[[]]},{"id":"794db663.740e18","type":"ui_button","z":"b14cd6ac.febc18","name":"","group":"e01d94fc.6a5218","order":0,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"led on","payloadType":"str","topic":"","x":1160,"y":740,"wires":[["5f234016.17f64"]]},{"id":"b3f78824.970bd8","type":"ui_button","z":"b14cd6ac.febc18","name":"","group":"e01d94fc.6a5218","order":0,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"led down","payloadType":"str","topic":"","x":1160,"y":800,"wires":[["5f234016.17f64"]]},{"id":"27e96392.67482c","type":"ui_text_input","z":"b14cd6ac.febc18","name":"","label":"Brightness Control %","tooltip":"","group":"e01d94fc.6a5218","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":1190,"y":860,"wires":[["5f234016.17f64"]]},{"id":"a47947c2.aa85f8","type":"ui_gauge","z":"b14cd6ac.febc18","name":"","group":"86185537.3aab38","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature in 째C","label":"째C","format":"{{value}}","min":0,"max":"50","colors":["#0c00b3","#58c7fa","#f50000"],"seg1":"","seg2":"","x":1250,"y":200,"wires":[]},{"id":"153955f8.c2e12a","type":"firebase in","z":"b14cd6ac.febc18","name":"Temperature In Main Room","ref":"/Temp1","dataAtStart":true,"admin":"93c2cf74.b0223","x":980,"y":200,"wires":[["a47947c2.aa85f8","2ee1d9e7.f6c6f6","48fddaad.4f2584"]]},{"id":"c84a36f2.4cae88","type":"ui_text","z":"b14cd6ac.febc18","group":"86185537.3aab38","order":2,"width":0,"height":0,"name":"","label":"Fan Status","format":"{{msg.payload}}","layout":"row-spread","x":1420,"y":260,"wires":[]},{"id":"2ee1d9e7.f6c6f6","type":"switch","z":"b14cd6ac.febc18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1100,"y":260,"wires":[["30501dae.c6b3a2"]]},{"id":"30501dae.c6b3a2","type":"change","z":"b14cd6ac.febc18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":260,"wires":[["c84a36f2.4cae88"]]},{"id":"48fddaad.4f2584","type":"switch","z":"b14cd6ac.febc18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1100,"y":300,"wires":[["ef09812f.59eb5"]]},{"id":"ef09812f.59eb5","type":"change","z":"b14cd6ac.febc18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":300,"wires":[["c84a36f2.4cae88"]]},{"id":"c40aa19b.0778c","type":"ui_gauge","z":"b14cd6ac.febc18","name":"","group":"86185537.3aab38","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity in %","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1200,"y":380,"wires":[]},{"id":"7d3306b4.91e478","type":"firebase in","z":"b14cd6ac.febc18","name":"Humidity In Main Room","ref":"/Humid1","dataAtStart":true,"admin":"93c2cf74.b0223","x":970,"y":380,"wires":[["c40aa19b.0778c"]]},{"id":"9ea04a78.e08b18","type":"ui_button","z":"b14cd6ac.febc18","name":"","group":"a8ae255f.3aee48","order":0,"width":0,"height":0,"passthru":false,"label":"Device 3 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"r_on_3","payloadType":"str","topic":"","x":970,"y":660,"wires":[["5f234016.17f64"]]},{"id":"4d59f30f.6ce1ac","type":"ui_button","z":"b14cd6ac.febc18","name":"","group":"a8ae255f.3aee48","order":0,"width":0,"height":0,"passthru":false,"label":"Device 3 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"r_down_3","payloadType":"str","topic":"","x":960,"y":700,"wires":[["5f234016.17f64"]]},{"id":"b0c200c6.c6deb","type":"ui_button","z":"b14cd6ac.febc18","name":"","group":"a8ae255f.3aee48","order":0,"width":0,"height":0,"passthru":false,"label":"Device 4 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"r_on_4","payloadType":"str","topic":"","x":970,"y":760,"wires":[["5f234016.17f64"]]},{"id":"84988af2.817728","type":"ui_button","z":"b14cd6ac.febc18","name":"","group":"a8ae255f.3aee48","order":0,"width":0,"height":0,"passthru":false,"label":"Device 4 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"r_down_4","payloadType":"str","topic":"","x":960,"y":800,"wires":[["5f234016.17f64"]]},{"id":"388d484c.e87128","type":"firebase in","z":"b14cd6ac.febc18","name":"Gas Sensor Value","ref":"/S_Value","dataAtStart":true,"admin":"93c2cf74.b0223","x":970,"y":440,"wires":[["997e79d8.060538","8657abed.3c02d8","7e0aa7a3.f58908"]]},{"id":"997e79d8.060538","type":"ui_gauge","z":"b14cd6ac.febc18","name":"","group":"da95c1fa.3934a","order":5,"width":0,"height":0,"gtype":"gage","title":"Sensor Value","label":"Sensor Value","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"200","seg2":"400","x":1220,"y":440,"wires":[]},{"id":"8657abed.3c02d8","type":"ui_text","z":"b14cd6ac.febc18","group":"da95c1fa.3934a","order":1,"width":0,"height":0,"name":"","label":"Gas Value","format":"{{msg.payload}}","layout":"row-spread","x":1230,"y":480,"wires":[]},{"id":"7e0aa7a3.f58908","type":"function","z":"b14cd6ac.febc18","name":"Status Function","func":"if(msg.payload<=200){\n    msg.cstatus=\"Clean\"\n}\nelse if(msg.payload>200 && msg.payload<400){\n    msg.cstatus=\"Contaminated\"\n}\nelse if(msg.payload>=400){\n    msg.cstatus=\"Warning !!! Gas Leak detected\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":520,"wires":[["603a4f13.2fc21","d0f76d6c.910c4"]]},{"id":"603a4f13.2fc21","type":"ui_text","z":"b14cd6ac.febc18","group":"da95c1fa.3934a","order":5,"width":0,"height":0,"name":"","label":"Air Quality","format":"{{msg.cstatus}}","layout":"col-center","x":1450,"y":520,"wires":[]},{"id":"9e2ea5a7.b276c8","type":"play audio","z":"b14cd6ac.febc18","name":"","voice":"0","x":1650,"y":520,"wires":[]},{"id":"d0f76d6c.910c4","type":"switch","z":"b14cd6ac.febc18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"400","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":600,"wires":[["b31250d3.6e8df"]]},{"id":"b31250d3.6e8df","type":"change","z":"b14cd6ac.febc18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Warning! Gas leak detected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":600,"wires":[["9e2ea5a7.b276c8"]]},{"id":"e1a47c5d.23dad","type":"ui_group","z":"","name":"Light Control","tab":"c726fa2f.faae98","order":1,"disp":true,"width":"6","collapse":false},{"id":"87aa3462.1b06f8","type":"ui_group","z":"","name":"Weather Control","tab":"c726fa2f.faae98","order":2,"disp":true,"width":"6","collapse":false},{"id":"93c2cf74.b0223","type":"firebase admin","z":"","name":""},{"id":"11e7127e.169c7e","type":"ui_group","z":"","name":"Device Automation","tab":"c726fa2f.faae98","order":3,"disp":true,"width":"6","collapse":false},{"id":"e01d94fc.6a5218","type":"ui_group","z":"","name":"Light Control","tab":"5ee20112.2c1a6","order":1,"disp":true,"width":"6","collapse":false},{"id":"86185537.3aab38","type":"ui_group","z":"","name":"Weather Control","tab":"5ee20112.2c1a6","order":2,"disp":true,"width":"6","collapse":false},{"id":"a8ae255f.3aee48","type":"ui_group","z":"","name":"Device Automation","tab":"5ee20112.2c1a6","order":3,"disp":true,"width":"6","collapse":false},{"id":"da95c1fa.3934a","type":"ui_group","z":"","name":"Warning System","tab":"5ee20112.2c1a6","order":4,"disp":true,"width":"6","collapse":false},{"id":"c726fa2f.faae98","type":"ui_tab","z":"","name":"Bedroom","icon":"dashboard","disabled":false,"hidden":false},{"id":"5ee20112.2c1a6","type":"ui_tab","z":"","name":"Main Room","icon":"dashboard","order":2,"disabled":false,"hidden":false}]